_block:redirects_
cat _output_/gau/`echo _target_|sed 's/[\:\/\.]/_/g'` | gf redirects > _output_/redirects/`echo _target_|sed 's/[\:\/\.]/_/g'`
_block:redirects_

_block:ssrf_
cat _output_/gau/`echo _target_|sed 's/[\:\/\.]/_/g'` | gf ssrf > _output_/ssrf/`echo _target_|sed 's/[\:\/\.]/_/g'`
_block:ssrf_
