_block:content_
ffuf -w database/wordlists/files.txt -u _target_/FUZZ -o results/_output_/dirfuzz/`echo _target_|sed 's/[\:\/\.]/_/g'`_files.txt -of md -timeout 30 -ac -p "0.1-3.0" -s -t 20 -se
_block:content_

_block:endpoints_
ffuf -w database/wordlists/folders.txt -u _target_/FUZZ -o results/_output_/dirfuzz/`echo _target_|sed 's/[\:\/\.]/_/g'`_folders.txt -of md -timeout 30 -ac -p "0.1-3.0" -s -t 20 -se
_block:endpoints_

_block:backup_
bfac -u _target_ -ra --timeout 30 --verbose-output results/_output_/dirfuzz/backupFiles.txt --detection-technique content_length --no-text
_block:backup_