_block:httpx_
httpx -follow-host-redirects -l results/_target_/subdomains/subdomains-resolvable.txt -o results/_target_/weburls_temp.txt -ports 80,443,8443,8080,9080,8000 -sr -srd results/_target_/html -retries 2 -timeout 30
_block:httpx_

_block:subjack_
subjack -w results/_target_/subdomains/subdomains-resolvable.txt -t 100 -timeout 30 --ssl -a -m > results/_target_/takeover/subjack.txt
_block:subjack_

_block:subover_
SubOver -l results/_target_/subdomains/subdomains-resolvable.txt -a -t 100 -https -timeout 30 > results/_target_/takeover/subover.txt
_block:subover_